/** @format */
.button {
  background: #fff;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}
.button:hover {
  background: rgba(126, 126, 126, 0.945);
  color: #fff;
  transition: 0.3s;
}
.button:active {
  background: #fff;
  color: black;
}
